[Unit]
Description=SILMA Arabic TTS
After=network.target

[Service]
WorkingDirectory=/app/silma
Environment=CUDA_VISIBLE_DEVICES=
ExecStart=/app/silma/venv/bin/python /app/silma/silma_server.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target
